/* .calendar_container {
  position: relative;
}

.create_btn {
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 18px;
  padding: 6px 12px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.react-calendar {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.react-calendar__navigation {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.react-calendar__navigation button {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 10px;
  font-size: 22px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
}

.react-calendar__tile {
  border: none;
  outline: none;
  padding: 10px;
  background: #fff;
  cursor: pointer;
} */
